// Mobile (up to 567px) ---------------------------------
// ------------------------------------------------------
.page-node-type-lodging {
  .node__content {
    padding: 0;
    background: $color-white;
    margin: 0 -1rem;
  }

  .slick--field-image {
    background: $color-gray-f1;
  }

  .anchor {
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
  }

  .node-lodging-intro {
    padding: 1.5rem 1rem;
    background: $color-gray-f1;
    text-align: center;
    position: relative;

    .flag-add-to-trip {
      display: flex;
      justify-content: center;
      position: relative;

      &.action-unflag {
        a {
          background: $gradient-blue;
          border-color: $color-blue-light;

          &:before {
            font-weight: 900;
          }
        }
      }

      a {
        display: block;
        position: absolute;
        top: -2.8rem;
        height: 2rem;
        line-height: 2rem;
        border-radius: 1rem;
        background: $gradient-coral;
        color: $color-white;
        text-decoration: none;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 0.75em;
        margin: 0;
        padding: 0 1.5em;
        border: 1px solid $color-coral-med;
        box-shadow: 3px 3px 8px $color-black-25;

        &:before {
          content: '\f005';
          font-family: 'Font Awesome 5 Free';
          font-weight: 400;
          display: inline-block;
          margin-right: 0.5em;
          color: $color-white;
        }
      }
    }

    .node-lodging-title {
      text-transform: uppercase;
      margin: 0;
      font-size: 1.65rem;
    }

    .node-lodging-location {
    }

    .node-lodging-type {
      border-bottom: 1px solid $color-gray-bd;
      height: 1px;
      display: flex;
      justify-content: center;
      margin-top: 1.5rem;
      margin-bottom: 0.5rem;

      a {
        display: block;
        margin-top: -0.75rem;
        height: 1.5rem;
        line-height: 1.5rem;
        border-radius: 0.75rem;
        background: $color-gray-bd;
        color: $color-white;
        text-decoration: none;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 0.75em;
        padding: 0 1.5em;
      }
    }
  }

  .node-lodging-tabs {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-flow: row nowrap;
    position: sticky;
    top: 100px;
    z-index: 100;

    .node-lodging-tab {
      width: 100%;
      background: $color-white;

      a {
        text-decoration: none;
        color: $color-blue-dark;
        display: flex;
        justify-content: flex-start;
        flex-flow: column;
        padding: 0.75em 1em;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: 400;
        font-size: 0.7rem;
        border-bottom: 3px solid $color-gray-f1;
      }

      &.active {
        a {
          border-bottom: 3px solid $color-yellow-med;
          i {
            color: $color-yellow-med;
          }
        }
      }

      &:hover,
      &:focus,
      &:active {
        i {
          color: $color-yellow-med;
        }
      }

      i {
        color: $color-gray-bd;
        font-size: 1rem;
        margin-bottom: 0.25em;
      }
    }
  }

  .node-lodging-tabs-container {
    background: $gradient-gray;

    .field--name-field-rating {
      text-align: center;

      .fivestar- {
        display: flex;
        justify-content: center;
        margin: 1em 0 0.25em;
      }

      .average-rating {
        span {
          font-weight: 400;
        }
      }

      .total-votes {
        display: block;
        font-size: 0.85em;
      }
    }

    .node-lodging-body {
      background: none;
      border: 0;

      &[open] {
        summary {
          display: none;
        }
      }

      summary {
        font-family: $font-main;
        font-size: 1rem;
        padding: 0;
        display: block;

        &:after {
          display: none;
        }

        > span {
          padding: 0 1em;
          margin-right: auto;
        }
      }

      .field--name-body {
        padding: 0;

        > * {
          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .node-lodging-pill-wrapper {
      margin: 1rem;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      align-items: center;
      background: $color-gray-f1;
      font-size: 0.75em;
      text-transform: uppercase;
      border-radius: $rad;
      border: 1px solid $color-black-10;

      .node-lodging-pill {
        width: 100%;
        padding: 1rem;
        text-align: center;

        &:first-child {
          border-right: 1px solid $color-black-15;
        }
      }

      .field--name-field-hotel-class {
        display: flex;
        justify-content: center;

        &:after {
          content: '\f005';
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          display: inline-block;
          margin-left: 0.5em;
          color: $color-blue-light;
        }
      }

      .field--name-field-lodging-category {
        display: flex;
        justify-content: center;

        &:before {
          content: '\f236';
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          display: inline-block;
          margin-right: 0.5em;
          color: $color-blue-light;
        }

        .field__item {
          &:nth-child(2) {
            &:before {
              content: '/';
            }
          }
        }
      }
    }

    .field--name-field-tips {
      .field__item {
        display: flex;
        line-height: 1.2;
        margin: 0.25em 0;

        &:before {
          content: '\f105';
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          margin-right: 0.5em;
          color: $color-blue-light;
        }
      }
    }

    .field--name-field-amenities {
      .field__item {
        display: flex;
        line-height: 1.2;
        margin: 0.25em 0;

        &:before {
          content: '\f00c';
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          margin-right: 0.5em;
          color: $color-blue-light;
        }
      }
    }

    .node-lodging-expand-wrapper {
      padding: 0.5rem 1rem;
      margin: 1rem;
      border: 1px solid $color-black-15;
      background: $color-white;
      border-radius: $rad;

      .node-lodging-expand-title {
        font-family: $font-header;
        font-size: 1.2rem;
      }
    }
  }

  .node-lodging-section {
    padding: 1rem;
    background: $gradient-gray;
    text-align: center;

    h4.node-lodging-section-title {
      font-family: $font-header;
      color: $color-yellow-med;
      font-size: 2.5rem;
      text-transform: uppercase;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }

    h5.node-lodging-section-title {
      font-family: $font-header;
      color: $color-blue-med;
      font-size: 1.25rem;
      text-transform: uppercase;
      margin-bottom: 0.25em;
      margin-top: 1em;
    }
  }

  .node-lodging-section-coupons {
    background: $color-green-med;

    h4.node-lodging-section-title {
      color: $color-white;
    }
  }

  .field--name-field-map {
    margin-bottom: 1rem;
    margin-left: -1rem;
    margin-right: -1rem;
  }

  .field--name-field-phone {
    border-top: 1px solid $color-black-15;
    padding: 0.5em 0;

    a {
      color: $color-blue-dark;
      text-decoration: none;
      font-weight: 400;
    }

    &:before {
      content: '\f095';
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      margin-right: 0.5em;
    }
  }

  .field--name-field-website {
    border-top: 1px solid $color-black-15;
    padding: 0.5em 0;

    a {
      color: $color-blue-dark;
      text-decoration: none;
      font-weight: 400;
    }

    &:before {
      content: '\f35d';
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      margin-right: 0.5em;
    }
  }

  .field--name-field-local-reviews,
  .field--name-field-articles {
    border: 1px solid $color-black-15;
    border-radius: $rad;
    background: $color-white;
    text-align: left;
    padding: 0 1em;

    .field__item {
      border-bottom: 1px solid $color-black-15;

      a {
        text-decoration: none;
        font-weight: 400;
        display: flex;
        padding: 0.5em 0;

        &:after {
          content: '\f35d';
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          margin-left: auto;
        }
      }

      &:last-child {
        border: 0;
      }
    }
  }

  .node-lodging-section-reviews {
    details {
      margin: 1rem 0;

      h5.node-lodging-section-title {
        margin: 0;
        text-align: left;
      }

      .node-lodging-section-reviews-details {
        padding: 1rem;
      }

      .indented {
        margin-left: 1rem;
        margin-top: -0.75rem;
      }

      article.comment {
        background: $color-white;
        border-radius: $rad;
        padding: 1rem;
        border: 1px solid $color-gray-bd;
        margin-bottom: 1rem;
        position: relative;

        mark {
          position: absolute;
          left: -15px;
          top: 10px;
          background: $color-green-med;
          color: $color-white;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 0.6em;
          text-transform: uppercase;
          font-weight: 700;

          &.hidden {
            display: none;
          }
        }

        .content {
          .links {
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 0;
            padding: 0.5em;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            font-weight: 400;
            font-size: 0.65em;
            left: 0;
            background: $color-black-05;

            a {
              color: $color-gray-bd;
            }
          }

          .field--name-field-rating {
            margin-bottom: 0.5em;

            .fivestar- {
              margin-top: 0;
            }
          }

          .field--name-comment-body {
            > * {
              &:first-child {
                margin-top: 0;
              }

              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }

        .comment__submitted {
          margin-top: 0;
          color: $color-blue-light;
          font-family: $font-header;
          font-size: 1.25em;

          a {
            text-decoration: none;
          }
        }
      }

      .comment-form__title {
        margin-top: 2em;
        margin-bottom: 0.5em;
      }

      .comment-form {
        background: $color-yellow-med;
        border-radius: $rad;
        border: 1px solid $color-gray-bd;

        select {
          border: 1px solid $color-blue-light;
          color: $color-blue-light;
          padding: 0.5em;
          text-align: center;
          width: calc(100% - 3rem);
        }

        .form-textarea-wrapper {
          background: $color-white;
          border-radius: $rad;
          border: 1px solid $color-gray-bd;
          margin: 0 1rem;
        }

        .filter-wrapper {
          display: none;
        }

        .form-actions {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-evenly;
          margin: 0;
          width: 100%;

          input {
            color: $color-white;
            background: linear-gradient(to bottom, $color-blue-lighter, $color-blue-light);
            padding: 0.5em 0.75em;
            text-align: center;
            border: 0;
            border-radius: $rad;
            width: calc(100% - 1rem);
            text-transform: uppercase;
            letter-spacing: 0.1em;
            font-weight: 700;
            margin: 0.5rem;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);

            &[data-drupal-selector='edit-preview'] {
              background: $color-black-15;
              order: 1;
            }
          }
        }
      }
    }
  }
}

// Phablet (568px to 767px) -----------------------------
// ------------------------------------------------------
@media (min-width: $phab) {
}

// Tablet (768px to 1023px) -----------------------------
// ------------------------------------------------------
@media (min-width: $tab) {
}

// Desktop (1024px to 1339px) ---------------------------
// ------------------------------------------------------
@media (min-width: $desk) {
}

// Wide (over 1340px) -----------------------------------
// ------------------------------------------------------
@media (min-width: $wide) {
}
