// Mobile (up to 567px) ---------------------------------
// ------------------------------------------------------
.page-node-type-post {
  .node__content {
    padding: 0;
    background: $color-white;
    margin: 0 -1rem;

    .field--name-body {
      padding: 0 1rem;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: $font-main;
        font-weight: 700;
      }
    }

    .field--name-field-post-date {
      text-align: center;
      letter-spacing: 0.1em;
      margin: -1rem 0 0;
      background: $color-gray-f1;
    }

    .field--name-field-tags {
      border-radius: 40px;
      background: $color-gray-f1;
      padding: 0.25em;
      display: flex;
      margin: 1rem;

      .field__item {
        margin: 0.25em;
        a {
          text-decoration: none;
          border-radius: 40px;
          background: $color-black-25;
          color: $color-white;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 0.05em;
          font-size: 0.75rem;
          padding: 0.5em 1em;
          display: block;
        }
      }
    }

    .field--name-field-content-reference {
      padding-top: 1rem;

      .field__label {
        font-family: $font-header;
        font-size: 1.2em;
        margin-bottom: 1rem;
        padding-left: 1rem;
        color: $color-orange-med;
        border-bottom: 1px solid $color-black-15;
      }
    }

    .field--name-comment {
      padding: 1rem;
      background: $color-yellow-med;
    }

    .author-name {
      font-size: 2rem;
      font-weight: 400;
      font-family: $font-handwriting;
      font-style: italic;
      padding: 1rem;
      text-transform: capitalize;

      &:before {
        content: '- ';
      }
    }
  }

  .flippy {
    li {
      margin: 0.5rem 0;
      display: inline-block;

      a {
        text-decoration: none;
        font-family: $font-header;
        padding: 0.5em;
        display: block;
      }
    }
  }
}

// Phablet (568px to 767px) -----------------------------
// ------------------------------------------------------
@media (min-width: $phab) {
}

// Tablet (768px to 1023px) -----------------------------
// ------------------------------------------------------
@media (min-width: $tab) {
}

// Desktop (1024px to 1339px) ---------------------------
// ------------------------------------------------------
@media (min-width: $desk) {
}

// Wide (over 1340px) -----------------------------------
// ------------------------------------------------------
@media (min-width: $wide) {
}
