// Mobile (up to 567px) ---------------------------------
// ------------------------------------------------------

// Phablet (568px to 767px) -----------------------------
// ------------------------------------------------------
@media (min-width: $phab) {
}

// Tablet (768px to 1023px) -----------------------------
// ------------------------------------------------------
@media (min-width: $tab) {
  .path-frontpage {
    .region-subbanner {
      background: $color-yellow-med;
      padding-bottom: 1rem;

      .region-inner {
        width: 90%;
        margin: 0 auto;
        margin-top: -3rem;
        background: #fff;
        z-index: 1;
        position: relative;
        border-radius: 8px;
        padding: 3rem 3rem 1rem;
      }
    }

    .node__content {
      padding: 1rem 10%;
    }
  }
}

// Desktop (1024px to 1339px) ---------------------------
// ------------------------------------------------------
@media (min-width: $desk) {
}

// Wide (over 1340px) -----------------------------------
// ------------------------------------------------------
@media (min-width: $wide) {
}
