// Mobile (up to 567px) ---------------------------------
// ------------------------------------------------------
@font-face {
  font-family: 'ironbrine';
  src: url('/themes/custom/utawesome/fonts/iron__brine-webfont.woff2') format('woff2'),
    url('/themes/custom/utawesome/fonts/iron__brine-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  background: $color-white;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: $color-black;
  font-family: $font-main;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: $color-blue-light;

  &:hover,
  &:focus,
  &:active {
    color: lighten($color-blue-light, 10%);
  }
}

img {
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-header;
  font-weight: 400;
  line-height: 1.2;
}

.background-yellow {
  background: $color-yellow-med;
  color: $color-blue-med;
}

// Tablet (768px to 1023px) -----------------------------
// ------------------------------------------------------
@media (min-width: $tab) {
}

// Desktop (1024px to 1339px) ---------------------------
// ------------------------------------------------------
@media (min-width: $desk) {
}

// Wide (over 1340px) -----------------------------------
// ------------------------------------------------------
@media (min-width: $wide) {
}
