// Mobile (up to 567px) ---------------------------------
// ------------------------------------------------------
.path-frontpage {
  .node__content {
    max-width: 500px;
    margin: 0 auto 2rem;
    text-align: center;
  }
}

// Phablet (568px to 767px) -----------------------------
// ------------------------------------------------------
@media (min-width: $phab) {
}

// Tablet (768px to 1023px) -----------------------------
// ------------------------------------------------------
@media (min-width: $tab) {
  .path-frontpage {
    .region-subbanner {
      background: $color-blue-med;

      .region-inner {
        background: #fff;
        z-index: 1;
        padding: 2.5rem 3rem 1rem;
      }
    }
  }
}

// Desktop (1024px to 1339px) ---------------------------
// ------------------------------------------------------
@media (min-width: $desk) {
}

// Wide (over 1340px) -----------------------------------
// ------------------------------------------------------
@media (min-width: $wide) {
}
