// Mobile (up to 567px) ---------------------------------
// ------------------------------------------------------
#block-viewitinerarybutton {
  position: fixed;
  bottom: 0;
  padding: 0;
  width: 100%;
  z-index: 1;
  max-width: 1440px;
  text-align: right;
  display: flex;
  justify-content: flex-end;

  .trip-planner-button {
    color: $color-white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 700;
    display: inline-block;
    padding: 0;
    text-decoration: none;
    margin: 1em 1em 1em auto;
    border-radius: 2em;
    box-shadow: 3px 3px 8px $color-black-25;
    background: $color-coral-med;
    width: 56px;
    height: 56px;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 0 0 18px;
    justify-content: flex-end;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.25s ease-out;

    .fas {
      margin-right: 2rem;
      display: inline-block;
      transition: all 0.25s ease-out;
    }
  }
}

// Phablet (568px to 767px) -----------------------------
// ------------------------------------------------------
@media (min-width: $phab) {
}

// Tablet (768px to 1023px) -----------------------------
// ------------------------------------------------------
@media (min-width: $tab) {
}

// Desktop (1024px to 1339px) ---------------------------
// ------------------------------------------------------
@media (min-width: $desk) {
  #block-viewitinerarybutton {
    .trip-planner-button {
      &:hover {
        padding: 0 2em;
        width: 200px;
        transition: all 0.25s ease-out;

        .fas {
          margin-right: 0;
          transition: all 0.25s ease-out;
        }
      }
    }
  }
}

// Wide (over 1340px) -----------------------------------
// ------------------------------------------------------
@media (min-width: $wide) {
}
