// Mobile (up to 567px) ---------------------------------
// ------------------------------------------------------
#block-viewitinerarybutton {
  position: fixed;
  bottom: 0;
  padding: 0;
  width: 100%;
  z-index: 1;

  .trip-planner-button {
    color: $color-white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 700;
    display: inline-block;
    padding: 1em 2em;
    text-decoration: none;
    margin: 1em auto;
    border-radius: 2em;
    box-shadow: 3px 3px 8px $color-black-25;
    background: $color-coral-med;
  }
}

// Phablet (568px to 767px) -----------------------------
// ------------------------------------------------------
@media (min-width: $phab) {
}

// Tablet (768px to 1023px) -----------------------------
// ------------------------------------------------------
@media (min-width: $tab) {
}

// Desktop (1024px to 1339px) ---------------------------
// ------------------------------------------------------
@media (min-width: $desk) {
}

// Wide (over 1340px) -----------------------------------
// ------------------------------------------------------
@media (min-width: $wide) {
}
