// Mobile (up to 567px) ---------------------------------
// ------------------------------------------------------
.field--name-field-gear,
.views-field-nothing {
  .vocabulary-gear {
    margin-bottom: 0.5rem;

    .content {
      position: relative;
    }

    .gear-wrapper {
      position: relative;
      background: $color-white;
      border-radius: $rad;
      padding: 1rem;
      border: 1px solid $color-gray-bd;
      display: flex;
      flex-flow: row nowrap;
      text-decoration: none;

      .field--name-field-main-photo {
        img {
          display: block;
          width: 100%;
        }
      }

      .field--name-description {
        font-size: 0.875em;
        color: $color-blue-dark;

        ul,
        ol {
          text-align: left;
        }
      }

      .gear-image {
        text-align: center;
        min-width: 25%;
        max-width: 25%;

        img {
          max-height: 150px;
          width: auto;
          margin: 0 auto;
        }
      }

      .gear-text {
        width: 100%;
        padding-left: 1.5rem;
        text-align: left;
      }

      .gear-title {
        font-family: $font-header;
        line-height: 1.2;
        font-size: 1.35rem;
        text-decoration: none;
        display: flex;
        color: $color-blue-light;
        margin: 0;
        justify-content: flex-start;
        text-align: left;

        &:hover,
        &:active,
        &:focus {
          text-decoration: underline;

          &:after {
            text-decoration: none;
          }
        }

        &:after {
          content: '\f35d';
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          margin-left: auto;
          font-size: 0.9em;
        }
      }

      .gear-description,
      .field--name-description {
        line-height: 1.4;
        font-size: 14px;

        > * {
          &:first-child {
            margin-top: 0.5em;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
// Phablet (568px to 767px) -----------------------------
// ------------------------------------------------------
@media (min-width: $phab) {
  .field--name-field-gear,
  .views-field-nothing {
    .vocabulary-gear {
      .gear-wrapper {
        .gear-image {
          min-width: 25%;
          max-width: 25%;
        }

        .gear-description,
        .field--name-description {
          font-size: 1rem;
        }
      }
    }
  }
}

// Tablet (768px to 1023px) -----------------------------
// ------------------------------------------------------
@media (min-width: $tab) {
}

// Desktop (1024px to 1339px) ---------------------------
// ------------------------------------------------------
@media (min-width: $desk) {
  .field--name-field-gear,
  .views-field-nothing {
    .vocabulary-gear {
      .gear-wrapper {
        align-items: center;

        .gear-image {
          min-width: 12%;
          max-width: 12%;
        }
      }
    }
  }
}

// Wide (over 1340px) -----------------------------------
// ------------------------------------------------------
@media (min-width: $wide) {
}
