// Mobile (up to 567px) ---------------------------------
// ------------------------------------------------------
.paragraph--type--place-summary {
  margin: 1rem;
  background: $color-blue-dark;
  padding: 1rem 2rem;
  border-radius: $rad;

  .field__item {
    &:nth-child(2) {
      .field--name-field-place-title {
        color: $color-green-med;
      }
    }

    &:nth-child(3) {
      .field--name-field-place-title {
        color: $color-purple-med;
      }
    }

    &:nth-child(4) {
      .field--name-field-place-title {
        color: $color-yellow-med;
      }
    }

    &:nth-child(5) {
      .field--name-field-place-title {
        color: $color-coral-med;
      }
    }
  }

  .field--name-field-place-title {
    font-family: $font-header;
    font-size: 1.75em;
    color: $color-orange-med;
  }

  .field--name-field-place-summary {
    color: $color-white;
  }

  .views-card {
    margin-bottom: 1rem;

    > a {
      border: 0;
      background: $color-white-85;
      padding: 1rem;
      border-radius: $rad-inner;
    }

    .card-flag {
      left: -5px;
    }
  }
}

// Phablet (568px to 767px) -----------------------------
// ------------------------------------------------------
@media (min-width: $phab) {
}

// Tablet (768px to 1023px) -----------------------------
// ------------------------------------------------------
@media (min-width: $tab) {
}

// Desktop (1024px to 1339px) ---------------------------
// ------------------------------------------------------
@media (min-width: $desk) {
}

// Wide (over 1340px) -----------------------------------
// ------------------------------------------------------
@media (min-width: $wide) {
}
