/* Breakpoints */
$phab: 568px;
$tab: 768px;
$desk: 1024px;
$wide: 1340px;
$max-width: 1440px;

/* Typography */
$font-main: Lato, Arial, Helvetica, sans-serif;
$font-header: ironbrine, Lato, Arial, Helvetica, sans-serif;

/* Colors */
$color-black: #000;
$color-black-05: rgba(0, 0, 0, 0.05);
$color-black-10: rgba(0, 0, 0, 0.1);
$color-black-15: rgba(0, 0, 0, 0.15);
$color-black-25: rgba(0, 0, 0, 0.25);
$color-black-50: rgba(0, 0, 0, 0.5);
$color-black-85: rgba(0, 0, 0, 0.85);
$color-white: #fff;
$color-white-85: rgba(255, 255, 255, 0.85);
$color-white-50: rgba(255, 255, 255, 0.5);
$color-gray-f1: #f1f1f1;
$color-gray-e6: #e6e6e6;
$color-gray-d: #ddd;
$color-gray-c: #ccc;
$color-gray-b: #bbb;
$color-gray-bd: #bdbdbd;
$color-gray-3: #333;
$color-gray-6: #666;
$color-gray-9: #999;
$color-gray-50: rgba(0, 0, 0, 0.5);
$color-gray-25: rgba(0, 0, 0, 0.25);
$color-gray-10: rgba(0, 0, 0, 0.1);
$color-gray-075: rgba(0, 0, 0, 0.075);
$color-gray-05: rgba(0, 0, 0, 0.05);
$color-gray-0: rgba(0, 0, 0, 0);
$color-blue-lighter: #5cd1db;
$color-blue-light: #3aa1aa;
$color-blue-med: #004a61;
$color-blue-dark: #003d51;
$color-blue-darker: #002a38;
$color-yellow-light: #debb00;
$color-yellow-med: #f2a900;
$color-yellow-dark: #e08c00;
$color-coral-light: #ffa693;
$color-coral-med: #ea7359;
$color-red-med: #9b4741;
$color-green-light: #a39900;
$color-green-med: #4d4b00;
$color-green-dark: #262900;
$color-orange-med: #ff9340;
$color-orange-dark: #fe7000;
$color-purple-light: #b242c3;
$color-purple-med: #a513bb;
$color-purple-dark: #64005a;

$gradient-blue: linear-gradient(to bottom, $color-blue-lighter, $color-blue-light);
$gradient-blue-dark: linear-gradient(to bottom, $color-blue-dark, $color-blue-med);
$gradient-gray: linear-gradient(to bottom, $color-white, $color-gray-f1);
$gradient-coral: linear-gradient(to bottom, $color-coral-light, $color-coral-med);
$gradient-green: linear-gradient(to bottom, $color-green-light, $color-green-med);
$gradient-yellow: linear-gradient(to bottom, $color-yellow-light, $color-yellow-med);
$gradient-orange: linear-gradient(to bottom, $color-orange-med, $color-orange-dark);

/* Decorations */
$rad-inner: 3px;
$rad: 5px;
$rad-outer: 8px;

/* Icons */
$place-icon-attraction: '\f3c5';
