// Mobile (up to 567px) ---------------------------------
// ------------------------------------------------------
#block-views-block-gear-block-1 {
  padding: 2rem 0;

  > h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    padding: 0 1rem 2rem;
    margin: 0;
  }

  .more-link {
    a {
      text-decoration: none;
    }
  }

  .view-content {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    margin: 0 -0.5rem;
  }

  .views-row {
    max-width: 45%;
  }
}

// Phablet (568px to 767px) -----------------------------
// ------------------------------------------------------
@media (min-width: $phab) {
  #block-views-block-gear-block-1 {
    .views-row {
      max-width: 32%;
    }
  }
}

// Tablet (768px to 1023px) -----------------------------
// ------------------------------------------------------
@media (min-width: $tab) {
  #block-views-block-gear-block-1 {
    padding: 2rem 0 1rem;

    .views-row {
      max-width: 23%;
    }
  }
}

// Desktop (1024px to 1339px) ---------------------------
// ------------------------------------------------------
@media (min-width: $desk) {
  #block-views-block-gear-block-1 {
    padding: 2rem 0 1rem;

    .views-row {
      max-width: 16%;
    }
  }
}

// Wide (over 1340px) -----------------------------------
// ------------------------------------------------------
@media (min-width: $wide) {
}
