// Mobile (up to 567px) ---------------------------------
// ------------------------------------------------------
.view-id-coupons_discounts.view-display-id-page_1,
.view-id-coupons_discounts.view-display-id-page_2 {
  margin: 0 -1rem;

  .view-content {
    padding: 1rem;
  }

  .coupons-wrapper {
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  .coupons-description {
    color: $color-blue-dark;

    ul {
      text-align: left;
    }
  }

  .coupons-image {
    img {
      border-radius: $rad;
      width: 100%;
      display: block;
    }
  }

  .item-date {
    color: $color-coral-med;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 1rem 0;
    letter-spacing: 0.05em;
  }
}

// Phablet (568px to 767px) -----------------------------
// ------------------------------------------------------
@media (min-width: $phab) {
}

// Tablet (768px to 1023px) -----------------------------
// ------------------------------------------------------
@media (min-width: $tab) {
}

// Desktop (1024px to 1339px) ---------------------------
// ------------------------------------------------------
@media (min-width: $desk) {
}

// Wide (over 1340px) -----------------------------------
// ------------------------------------------------------
@media (min-width: $wide) {
}
