// Mobile (up to 567px) ---------------------------------
// ------------------------------------------------------
.view.view-id-gear.view-display-id-page_1 {
  .views-exposed-form {
    .form--inline {
      .form-item {
        width: calc(100% - 1rem);
      }
    }
  }

  .gear-wrapper {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  .gear-description {
    color: $color-blue-dark;
  }
}

// Phablet (568px to 767px) -----------------------------
// ------------------------------------------------------
@media (min-width: $phab) {
}

// Tablet (768px to 1023px) -----------------------------
// ------------------------------------------------------
@media (min-width: $tab) {
  .view.view-id-gear.view-display-id-page_1 {
    .views-exposed-form {
      .form--inline {
        .form-item {
          width: calc(33.3333% - 1rem);
        }
      }
    }
  }
}

// Desktop (1024px to 1339px) ---------------------------
// ------------------------------------------------------
@media (min-width: $desk) {
}

// Wide (over 1340px) -----------------------------------
// ------------------------------------------------------
@media (min-width: $wide) {
}
