// Mobile (up to 567px) ---------------------------------
// ------------------------------------------------------
.flex-inline-view-place {
  margin-bottom: 0.5rem;
  position: relative;

  a {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    background: rgba(255, 255, 255, 0.1);
    border-radius: $rad;
    color: $color-white;
    text-decoration: none;
  }

  .image-wrapper {
    min-width: 80px;
    max-width: 80px;

    img {
      border-radius: $rad 0 0 $rad;
      display: block;
    }
  }

  .text-wrapper {
    width: calc(100% - 80px);
    padding: 0 1em;

    h4,
    p {
      margin: 0;
    }
  }

  .flag-add-to-trip {
    position: absolute;
    top: 4px;
    left: -8px;

    a {
      background: $color-gray-bd;
      border-radius: 20px;
      height: 30px;
      width: 30px;
      display: block;
      text-align: center;
      overflow: hidden;
      text-decoration: none;
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
      border: 1px solid $color-white-50;

      &:before {
        content: '\f005';
        font-family: 'Font Awesome 5 Free';
        font-weight: 400;
        display: flex;
        color: $color-white-50;
        width: 28px;
        height: 28px;
        align-items: center;
        justify-content: center;
      }
    }

    &.action-unflag {
      a {
        background: $gradient-blue;
        border-color: $color-white-50;

        &:before {
          font-weight: 900;
          color: $color-white-50;
        }
      }
    }
  }
}

// Phablet (568px to 767px) -----------------------------
// ------------------------------------------------------
@media (min-width: $phab) {
}

// Tablet (768px to 1023px) -----------------------------
// ------------------------------------------------------
@media (min-width: $tab) {
}

// Desktop (1024px to 1339px) ---------------------------
// ------------------------------------------------------
@media (min-width: $desk) {
}

// Wide (over 1340px) -----------------------------------
// ------------------------------------------------------
@media (min-width: $wide) {
}
