// Mobile (up to 567px) ---------------------------------
// ------------------------------------------------------
.view.view-places-search {
  .views-exposed-form {
    .form--inline {
      .form-item {
        &.form-item-type {
          width: calc(100% - 1rem);
        }

        &.form-item-combine {
          width: calc(100% - 1rem);
          position: relative;

          input {
            font-family: $font-header;
            font-size: 1.35rem;
            padding: 0.5em 0.75em;
            text-align: center;
            height: auto;
            background-position: 96% center;
          }
        }
      }

      .form-actions {
        width: 100%;
      }
    }
  }
}

// Phablet (568px to 767px) -----------------------------
// ------------------------------------------------------
@media (min-width: $phab) {
}

// Tablet (768px to 1023px) -----------------------------
// ------------------------------------------------------
@media (min-width: $tab) {
  .view.view-places-search {
    .views-exposed-form {
      .form--inline {
        .form-item {
          width: calc(33.3333% - 1rem);

          &.form-item-type {
            width: calc(33.3333% - 1rem);
          }
        }
      }
    }
  }
}

// Desktop (1024px to 1339px) ---------------------------
// ------------------------------------------------------
@media (min-width: $desk) {
  .view.view-places-search {
    .views-exposed-form {
      .form--inline {
        .form-item {
          width: calc(25% - 1rem);

          &.form-item-type {
            width: calc(25% - 1rem);
          }

          &.form-item-combine {
            width: calc(25% - 1rem);

            input {
              font-family: $font-main;
              font-size: 1rem;
              text-align: left;
              height: 30px;
            }
          }
        }

        .form-actions {
          width: auto;
          margin: 0 0.5rem;
        }
      }
    }
  }
}

// Wide (over 1340px) -----------------------------------
// ------------------------------------------------------
@media (min-width: $wide) {
  .view.view-places-search {
    .views-exposed-form {
      .form--inline {
        .form-item {
          width: calc(15% - 1rem);

          &.form-item-type {
            width: calc(15% - 1rem);
          }

          &.form-item-combine {
            width: calc(15% - 1rem);
          }
        }

        .form-actions {
          margin: 17px 0.5rem 0.5rem;
        }
      }
    }
  }
}
