// Mobile (up to 567px) ---------------------------------
// ------------------------------------------------------
.view-id-posts.view-display-id-block_2 {
  .views-card {
    background: $color-white-10;
    border: 0;
    margin: 0.5em 0;
    border-radius: $rad;

    a {
      color: $color-white;

      &:hover {
        color: $color-white;
      }

      &:after {
        color: $color-blue-light;
      }

      .card-image {
        min-width: 80px;
        max-width: 80px;
      }

      .card-title {
        font-size: 1rem;
        color: $color-blue-light;
      }

      .card-date {
        color: $color-white;
      }
    }
  }
}

// Phablet (568px to 767px) -----------------------------
// ------------------------------------------------------
@media (min-width: $phab) {
}

// Tablet (768px to 1023px) -----------------------------
// ------------------------------------------------------
@media (min-width: $tab) {
}

// Desktop (1024px to 1339px) ---------------------------
// ------------------------------------------------------
@media (min-width: $desk) {
}

// Wide (over 1340px) -----------------------------------
// ------------------------------------------------------
@media (min-width: $wide) {
}
