// Mobile (up to 567px) ---------------------------------
// ------------------------------------------------------
.path-search {
  .search-form {
    background: $color-gray-f1;
    padding: 1rem;
    margin: 0 -1rem;
  }

  .item-list {
    .search-results {
      padding: 0;

      li {
        margin: 1rem 0;
        border: 1px solid $color-black-10;
        padding: 0 1rem;
        border-radius: $rad;
        background: $color-white;
        box-shadow: 0 0 20px $color-black-10;
      }
    }
  }
}

// Phablet (568px to 767px) -----------------------------
// ------------------------------------------------------
@media (min-width: $phab) {
}

// Tablet (768px to 1023px) -----------------------------
// ------------------------------------------------------
@media (min-width: $tab) {
}

// Desktop (1024px to 1339px) ---------------------------
// ------------------------------------------------------
@media (min-width: $desk) {
}

// Wide (over 1340px) -----------------------------------
// ------------------------------------------------------
@media (min-width: $wide) {
}
