// Mobile (up to 567px) ---------------------------------
// ------------------------------------------------------
.view {
  .feed-icons {
    padding: 1rem 0;
  }

  .pager {
    .pager__items {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      padding: 0;
    }

    .pager__item {
      margin: 0.25em;
      padding: 0;

      a {
        border: 1px solid $color-black-15;
        width: 35px;
        height: 35px;
        display: flex;
        border-radius: 35px;
        text-decoration: none;
        align-items: center;
        justify-content: center;

        &:hover,
        &:focus,
        &:active {
          background: $color-blue-light;
          color: $color-white;
        }
      }

      &.is-active {
        a {
          background: $color-blue-light;
          color: $color-white;
        }
      }

      &.pager__item--ellipsis {
        display: none;
      }

      &.pager__item--next,
      &.pager__item--last,
      &.pager__item--previous,
      &.pager__item--first {
        a {
          border: 0;
          text-transform: uppercase;
          font-weight: 400;
          font-size: 0.75em;
          width: 20px;
          height: 20px;
          overflow: hidden;
          white-space: nowrap;

          span {
            display: none;
          }

          &:before {
            content: '\f005';
            font-family: 'Font Awesome 5 Free';
            display: flex;
            width: 20px;
            height: 20px;
            justify-content: center;
            align-items: center;
            font-weight: 900;
          }

          &:hover,
          &:focus,
          &:active {
            background: none;
            color: $color-blue-dark;
            text-decoration: underline;
          }
        }
      }

      &.pager__item--next {
        a {
          &:before {
            content: '\f105';
          }
        }
      }

      &.pager__item--last {
        a {
          &:before {
            content: '\f101';
          }
        }
      }

      &.pager__item--previous {
        a {
          &:before {
            content: '\f104';
          }
        }
      }

      &.pager__item--first {
        a {
          &:before {
            content: '\f100';
          }
        }
      }
    }
  }

  .more-link {
    margin: 0.5rem;
    padding: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.75rem;
  }

  .views-exposed-form {
    margin: 0 -1rem 1rem;
    padding: 0 0.5rem;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    text-align: center;

    .form--inline {
      display: flex;
      flex-flow: row wrap;
      margin: 0 auto;
      text-align: left;
      justify-content: center;

      .form-item {
        display: flex;
        flex-flow: column;
        float: none;
        margin: 0.5rem;
        max-width: calc(100% - 1rem);
        width: calc(50% - 1rem);
      }

      .form-actions {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        margin: 0 0 0.5rem;
        width: 100%;

        input {
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
          font-size: 13px;
          width: 100%;
          margin-left: 0.5em;
          margin-right: 0.5em;

          &[data-drupal-selector='edit-reset'] {
            order: 1;
            background: $color-black-50;
          }
        }
      }
    }
  }
}

// Phablet (568px to 767px) -----------------------------
// ------------------------------------------------------
@media (min-width: $phab) {
}

// Tablet (768px to 1023px) -----------------------------
// ------------------------------------------------------
@media (min-width: $tab) {
  .view {
    .views-exposed-form {
      .form--inline {
        .form-item {
          width: calc(33.3333% - 1rem);
        }

        .form-actions {
          width: auto;
          margin: 17px 0.5rem 0.5rem;
        }
      }
    }
  }
}

// Desktop (1024px to 1339px) ---------------------------
// ------------------------------------------------------
@media (min-width: $desk) {
}

// Wide (over 1340px) -----------------------------------
// ------------------------------------------------------
@media (min-width: $wide) {
}
