// Mobile (up to 567px) ---------------------------------
// ------------------------------------------------------
.views-slide-square {
  max-width: 300px;
  margin: 0 0 0 1rem;

  a {
    display: block;
    text-decoration: none;
    position: relative;
    width: 100%;

    .slide-image {
      position: relative;
      z-index: 2;

      img {
        display: block;
        border: 1px solid $color-black-10;
        border-radius: $rad-outer;
      }
    }

    .slide-title {
      padding: 0.75rem;
      text-align: center;
      text-transform: uppercase;
      line-height: 1.2;
      font-size: 1rem;
      margin: 0;
    }

    &:hover {
      .slide-title {
        text-decoration: underline;
      }

      .slide-image {
        img {
          border-color: $color-blue-light;
        }
      }
    }
  }
}

// Phablet (568px to 767px) -----------------------------
// ------------------------------------------------------
@media (min-width: $phab) {
}

// Tablet (768px to 1023px) -----------------------------
// ------------------------------------------------------
@media (min-width: $tab) {
}

// Desktop (1024px to 1339px) ---------------------------
// ------------------------------------------------------
@media (min-width: $desk) {
}

// Wide (over 1340px) -----------------------------------
// ------------------------------------------------------
@media (min-width: $wide) {
}
