// Mobile (up to 567px) ---------------------------------
// ------------------------------------------------------
#block-utawesome-subnav {
  ul.menu {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-family: $font-header;

    li.menu-item {
      padding: 0;
      margin: 0;

      &:last-child {
        a {
          border-bottom: 0;
        }
      }

      &:nth-child(2) {
        a {
          &:before {
            background-image: url('/themes/custom/utawesome/assets/images/road_trip.jpg');
          }
        }
      }

      &:nth-child(3) {
        a {
          &:before {
            background-image: url('/themes/custom/utawesome/assets/images/discounts.jpg');
          }
        }
      }

      a {
        color: $color-blue-dark;
        text-decoration: none;
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        padding: 1rem;
        border-bottom: 1px solid $color-black-15;
        line-height: 1.2;
        font-size: 1.5rem;

        &:before {
          content: '';
          display: block;
          min-width: 40vw;
          max-width: 40vw;
          height: 22.5vw;
          margin-right: 1rem;
          background-color: $color-blue-dark;
          border-radius: $rad;
          background: url('/themes/custom/utawesome/assets/images/the-narrows_zion-national-park.jpg')
            center center no-repeat;
          background-size: cover;
          border: 1px solid $color-blue-dark;
        }

        &:after {
          content: '\f105';
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          display: block;
          padding-left: 1rem;
          margin-left: auto;
        }

        &:hover,
        &:active,
        &:focus {
          color: $color-blue-light;

          &:before {
            border: 1px solid $color-blue-light;
          }
        }
      }
    }
  }
}

// Phablet (568px to 767px) -----------------------------
// ------------------------------------------------------
@media (min-width: $phab) {
}

// Tablet (768px to 1023px) -----------------------------
// ------------------------------------------------------
@media (min-width: $tab) {
  #block-utawesome-subnav {
    ul.menu {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      justify-content: center;
      padding: 0.5rem;

      li.menu-item {
        width: 33.3333%;

        a {
          flex-flow: row wrap;
          border-bottom: 0;
          text-align: center;
          padding: 0.5em;
          justify-content: center;

          &:before {
            content: '';
            display: block;
            min-width: 100%;
            max-width: 100%;
            height: 15vw;
            margin: 0 0 0.25em;
          }

          &:after {
            content: '';
            display: none;
          }
        }
      }
    }
  }
}

// Desktop (1024px to 1339px) ---------------------------
// ------------------------------------------------------
@media (min-width: $desk) {
}

// Wide (over 1340px) -----------------------------------
// ------------------------------------------------------
@media (min-width: $wide) {
}
