// Mobile (up to 567px) ---------------------------------
// ------------------------------------------------------
.utawesome-section-header {
  position: relative;
  z-index: 100;

  header {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}

// Phablet (568px to 767px) -----------------------------
// ------------------------------------------------------
@media (min-width: $phab) {
}

// Tablet (768px to 1023px) -----------------------------
// ------------------------------------------------------
@media (min-width: $tab) {
}

// Desktop (1024px to 1339px) ---------------------------
// ------------------------------------------------------
@media (min-width: $desk) {
}

// Wide (over 1340px) -----------------------------------
// ------------------------------------------------------
@media (min-width: $wide) {
}
