// Mobile (up to 567px) ---------------------------------
// ------------------------------------------------------
.slick--optionset--nodes {
  .slick-arrow {
    &:before,
    &:after {
      color: $color-white-85;
    }

    &:hover,
    &:active,
    &:focus {
      color: $color-white;
    }
  }

  .slide__caption {
    display: none;
  }
}

// Phablet (568px to 767px) -----------------------------
// ------------------------------------------------------
@media (min-width: $phab) {
}

// Tablet (768px to 1023px) -----------------------------
// ------------------------------------------------------
@media (min-width: $tab) {
}

// Desktop (1024px to 1339px) ---------------------------
// ------------------------------------------------------
@media (min-width: $desk) {
}

// Wide (over 1340px) -----------------------------------
// ------------------------------------------------------
@media (min-width: $wide) {
}
