// Mobile (up to 567px) ---------------------------------
// ------------------------------------------------------
.block-utawesome-banner {
  background: $color-blue-dark center center no-repeat;
  background-size: cover;
  padding: 10% 8% 10% 12%;
  background-image: url('/themes/custom/utawesome/assets/images/coyote_buttes_day.jpg');

  &.morning {
    background-image: url('/themes/custom/utawesome/assets/images/coyote_buttes_morning.jpg');
  }

  &.day {
    background-image: url('/themes/custom/utawesome/assets/images/coyote_buttes_day.jpg');
  }

  &.evening {
    background-image: url('/themes/custom/utawesome/assets/images/coyote_buttes_evening.jpg');
  }

  &.night {
    background-image: url('/themes/custom/utawesome/assets/images/coyote_buttes_night.jpg');
  }
}

// Phablet (568px to 767px) -----------------------------
// ------------------------------------------------------
@media (min-width: $phab) {
}

// Tablet (768px to 1023px) -----------------------------
// ------------------------------------------------------
@media (min-width: $tab) {
}

// Desktop (1024px to 1339px) ---------------------------
// ------------------------------------------------------
@media (min-width: $desk) {
}

// Wide (over 1340px) -----------------------------------
// ------------------------------------------------------
@media (min-width: $wide) {
}
