// Mobile (up to 567px) ---------------------------------
// ------------------------------------------------------
$region-height: 70px;

.region-footer-banner {
  background: $color-blue-dark;
  color: $color-white;
  position: relative;
  z-index: 9;

  .region-inner {
    .block {
      text-align: center;
      padding: 1rem;

      ul.menu {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;

        .menu-item {
          padding: 0;

          a {
            display: block;
            text-transform: uppercase;
            font-size: 0.75em;
            letter-spacing: 0.05em;
            padding: 0.5em;
            text-decoration: none;
            font-weight: 400;

            &:hover,
            &:active,
            &:focus,
            &.is-active {
              color: $color-blue-lighter;
            }
          }
        }
      }
    }
  }
}

// Phablet (568px to 767px) -----------------------------
// ------------------------------------------------------
@media (min-width: $phab) {
}

// Tablet (768px to 1023px) -----------------------------
// ------------------------------------------------------
@media (min-width: $tab) {
}

// Desktop (1024px to 1339px) ---------------------------
// ------------------------------------------------------
@media (min-width: $desk) {
}

// Wide (over 1340px) -----------------------------------
// ------------------------------------------------------
@media (min-width: $wide) {
}
