// Mobile (up to 567px) ---------------------------------
// ------------------------------------------------------

// Phablet (568px to 767px) ---------------------------
// ------------------------------------------------------
@media (min-width: $phab) {
  .both-sidebars {
    .layout-columns {
      display: flex;
      flex-flow: row wrap;
    }

    .layout-content {
      width: 60%;
      order: 2;
    }

    .layout-sidebar-second {
      width: 100%;
      order: 3;
    }

    .layout-sidebar-first {
      width: 40%;
      order: 1;
    }
  }

  .has-sidebar:not(.both-sidebars) {
    .layout-columns {
      display: flex;
      flex-flow: row wrap;
    }

    .layout-content {
      width: 60%;
      order: 2;
    }

    .layout-sidebar-first {
      width: 40%;
      order: 1;
    }

    .layout-sidebar-second {
      width: 40%;
      order: 3;
    }
  }
}

// Tablet (768px to 1023px) -----------------------------
// ------------------------------------------------------
@media (min-width: $tab) {
  .both-sidebars {
    .layout-content {
      width: 65%;
    }

    .layout-sidebar-second {
      width: 100%;
    }

    .layout-sidebar-first {
      width: 35%;
    }
  }

  .has-sidebar:not(.both-sidebars) {
    .layout-content {
      width: 65%;
    }

    .layout-sidebar-first,
    .layout-sidebar-second {
      width: 35%;
    }
  }
}

// Desktop (1024px to 1339px) ---------------------------
// ------------------------------------------------------
@media (min-width: $desk) {
  .both-sidebars {
    .layout-content {
      width: 70%;
    }

    .layout-sidebar-second {
      width: 100%;
    }

    .layout-sidebar-first {
      width: 30%;
    }
  }

  .has-sidebar:not(.both-sidebars) {
    .layout-content {
      width: 70%;
    }

    .layout-sidebar-first,
    .layout-sidebar-second {
      width: 30%;
    }
  }
}

// Wide (over 1340px) -----------------------------------
// ------------------------------------------------------
@media (min-width: $wide) {
  .both-sidebars {
    .layout-content {
      width: 55%;
      order: 2;
    }

    .layout-sidebar-first {
      order: 1;
      width: 20%;
    }

    .layout-sidebar-second {
      order: 3;
      width: 25%;
    }
  }

  .has-sidebar:not(.both-sidebars) {
    .layout-content {
      width: 75%;
      order: 2;
    }

    .layout-sidebar-first,
    .layout-sidebar-second {
      order: 1;
      width: 25%;
    }
  }
}
